@import url("d3/lib/jquery-ui/jquery-ui.css");
/* some colors */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

body {
  background-color: #333;
  font-size: 16px;
  font-family: 'Dosis';
  font-weight: 400;
  color: #E8E8E8;
  /* come on iOS webkit, be a good citizen! */
  -webkit-text-size-adjust: 100%; }

#container {
  margin-left: 1em;
  padding-bottom: 1em; }

h1, h2 {
  font-size: 2em;
  margin-bottom: 0.2em;
  color: #E8E8E8;
  text-transform: uppercase;
  font-weight: 200; }

p {
  color: #E8E8E8;
  margin-top: 1em; }

.button {
  border-radius: 0.3em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  background-color: #1f6064;
  margin-right: 0.5em; }

.interactive {
  cursor: pointer; }

.active {
  background-color: #3fc0c9; }

hr {
  height: 0.5em;
  background-color: #E8E8E8;
  margin-bottom: 0.5em; }

.digitalIndicator {
  border-radius: 0.2em;
  margin-bottom: 0.2em;
  padding: 0.2em;
  width: 100px;
  background-color: #555555; }

#digital {
  width: 330px;
  float: left; }

#analog {
  width: 330px;
  margin-left: 330px; }
  #analog div {
    margin-top: 0.5em;
    height: 30px; }
    #analog div hr {
      margin-top: 0.5em;
      margin-bottom: 0px;
      height: 0.1em;
      width: 300px; }
    #analog div span {
      position: relative;
      top: -30px;
      left: -10px;
      color: #e25454;
      font-size: 3em; }

#complexity {
  margin-top: 1em;
  font-family: 'Dosis';
  font-weight: 200; }
  #complexity .labelBox {
    float: left;
    background-color: #555555;
    border-radius: 0.3em;
    height: 5.5em;
    width: 30px; }
    #complexity .labelBox .label {
      transform: rotate(90deg);
      transform-origin: left top 0;
      display: inline-block;
      margin: 0.5em;
      margin-left: 1.6em; }
  #complexity .data {
    margin-left: 35px; }
  #complexity .element {
    width: 600px;
    height: 1.5em;
    font-weight: 400;
    padding-top: 0.1em;
    border: solid 1px #b6ce4e;
    border-radius: 0.3em;
    margin-bottom: 3px;
    margin-right: 3px;
    overflow: hidden;
    white-space: nowrap;
    position: relative; }
    #complexity .element .label {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 300px;
      padding: 0.5em;
      padding-top: 0.2em;
      background: linear-gradient(to right, rgba(0, 0, 0, 0.65) 0%, transparent 100%); }
  #complexity .bit {
    width: 3px;
    height: 1.4em;
    background-color: #e89f49;
    display: inline-block;
    margin-right: 2px;
    transform-origin: bottom left; }
  #complexity #history {
    float: left; }
    #complexity #history .group:nth-child(1) .element {
      border: solid 1px #b6ce4e; }
    #complexity #history .group:nth-child(1) .bit {
      background-color: #b6ce4e; }
    #complexity #history .group:nth-child(2) .element {
      border: solid 1px #e89f49; }
    #complexity #history .group:nth-child(2) .bit {
      background-color: #e89f49; }
    #complexity #history .group:nth-child(3) .element {
      border: solid 1px #8885ed; }
    #complexity #history .group:nth-child(3) .bit {
      background-color: #8885ed; }
  #complexity .divider {
    height: 270px;
    border-left: dashed 2px #555555;
    margin-left: 2px;
    float: left; }
  #complexity #live {
    margin-left: 613px; }
    #complexity #live .element {
      width: 200px;
      overflow: visible; }
    #complexity #live .group:nth-child(1) .element {
      background-color: #b6ce4e;
      border: solid 1px #b6ce4e; }
    #complexity #live .group:nth-child(2) .element {
      background-color: #e89f49;
      border: solid 1px #e89f49; }
    #complexity #live .group:nth-child(3) .element {
      background-color: #8885ed;
      border: solid 1px #8885ed; }
    #complexity #live .label {
      background: none; }
