@import url("d3/lib/jquery-ui/jquery-ui.css");
/* some colors */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

body {
  background-color: #333;
  font-size: 16px;
  font-family: 'Bitter';
  font-weight: 400;
  color: #E8E8E8;
  /* come on iOS webkit, be a good citizen! */
  -webkit-text-size-adjust: 100%; }

#container {
  margin-left: 1em;
  padding-bottom: 1em; }

h1, h2 {
  font-size: 3.5em;
  font-weight: 700;
  margin-bottom: 0.2em;
  color: #E8E8E8; }

p {
  color: #E8E8E8;
  margin-top: 1em; }

.button {
  border-radius: 0.3em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  background-color: #1f6064;
  margin-right: 0.5em; }

.interactive {
  cursor: pointer; }

.active {
  background-color: #3fc0c9; }

hr {
  height: 0.5em;
  background-color: #E8E8E8;
  margin-bottom: 0.5em; }

.digitalIndicator {
  border-radius: 0.2em;
  margin-bottom: 0.2em;
  padding: 0.2em;
  width: 100px;
  background-color: #555555; }

#digital {
  width: 330px;
  float: left; }

#analog {
  width: 330px;
  margin-left: 330px; }
  #analog div {
    margin-top: 0.5em;
    height: 30px; }
    #analog div hr {
      margin-top: 0.5em;
      margin-bottom: 0px;
      height: 0.1em;
      width: 300px; }
    #analog div span {
      position: relative;
      top: -30px;
      left: -10px;
      color: #e25454;
      font-size: 3em; }
