@import url("d3/lib/jquery-ui/jquery-ui.css");

/* some colors */
$orange: #e89f49;
$lime: #b6ce4e;
$turquise: #5dd1a4;
$blue: #3fc0c9;
$lightBlue: #C1DFE1;
$lavender: #8885ed;
$rose: #c673d8;
$red: #e25454;

$darkGrey: #333;
$grey: #555;
$lighterGrey: #666;
$lightGrey: #ccc;

$backgroundColor: #eee;

.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

body {
	background-color: #333;
	font-size: 16px;
	font-family: 'Dosis';
	font-weight: 400;
	color: #E8E8E8;
	/* come on iOS webkit, be a good citizen! */
	-webkit-text-size-adjust: 100%;
	// padding: 1em;
}

#container {
	margin-left: 1em;
	padding-bottom: 1em;
}

h1, h2 {
	font-size: 2em;
	margin-bottom: 0.2em;
	color: #E8E8E8;
	text-transform: uppercase;
	font-weight: 200;
}


p {
	color: #E8E8E8;
	margin-top: 1em;
}

.button {
	border-radius: 0.3em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	background-color: $blue * 0.5;
	margin-right: 0.5em;
}

.interactive {
	cursor: pointer;
}

.active {
	background-color: $blue;
}

// === input debugger stuff ===

hr {
	height: 0.5em;
	background-color: #E8E8E8;
	margin-bottom: 0.5em;
}

.digitalIndicator {
	border-radius: 0.2em;
	margin-bottom: 0.2em;
	padding: 0.2em;
	width: 100px;
	background-color: $grey;
}
#digital {
	width: 330px;
	float: left;
}

#analog {
	width: 330px;
	margin-left: 330px;
	div {
		margin-top: 0.5em;
		height: 30px;
		hr {
			margin-top: 0.5em;
			margin-bottom: 0px;
			height: 0.1em;
			width: 300px;
		}
		span {
			position: relative;
			top: -30px;
			left: -10px;
			color: $red;
			font-size: 3em;
		}
	}
}


// === controller vis stuff ===

// === input complexity stuff ===
#complexity {
	font-family: 'Dosis';
	font-weight: 200;
	.labelBox {
		.label {
			transform: rotate(90deg);
			transform-origin: left top 0;
			display: inline-block;
			margin: 0.5em;
			margin-left: 2em;
		}

		float: left;
		background-color: $grey;
		border-radius: 0.5em;
		height: 6em;
		width: 45px;
	}
	.data {
		margin-left: 50px;
	}

	.group {
		&:nth-child(2) {
			.element {
				background-color: $orange;
			}
		}
		&:nth-child(3) {
			.element {
				background-color: $lavender;
			}
		}
	}
	.element {
		width: 600px;
		height: 1.5em;
		font-weight: 400;
		text-align: right;
		padding-top: 0.4em;
		padding-right: 0.4em;
		background-color: $lime;
		border-radius: 0.5em;
		margin: 2px;
		overflow: none;
	}
	
	#history {
		float: left;
	}

	.divider {
		height: 300px;
		// width: 10px;
		border-left: dashed 2px $grey;
		margin-left: 2px;
		float: left;
	}

	#live {
		.element {
			width: 200px;
			opacity: 0.6;
		}
		margin-left: 615px;
	}

}
